* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1d1d1;

}

header {
  position: fixed;
  background-color: #faf2f2;
  padding: 0% 5%;
}

/* Nav Bar */


#header-img {
  height: 1%;
  width: 6%;
  padding-top: 1%
}

.nav-link {
  float: right;
  padding: 3% 5%;
  text-decoration: none;
  color:black;
}

/* Email Submission */
form {
  padding: 11% 0 1% 0;
  text-align: center;
}

.email-title {
  padding-bottom: 1%
}

/* features */

#features {
  padding: 23px;
}

.list {
  display: flex;
  margin: auto;
  width: 50%;
  padding: 1%;
}

.icon, {
  display: flex;
  align-items: left;
  justify-content: left;
  margin: 41px 17px 0px 0px;
  padding: 13px;
}

.discription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: auto;
}

.feature-icons {
  height: 70%;
  width: 70%;
}

#showcase {
  display: flex;
  justify-content: center;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -100;
  width: 400px;
  height: 400px;

}


/* Pricing */

#pricing {
  display: flex;
  flex-direction: row;
  margin-top: 71px;
  justify-content: center;
  text-align: center;
}

.img-option {
    width: 250px;
    height: 170px;
    border: 3px solid black;
}

#box_of_cupcakes {
  display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100%/3);
    margin: 11px;
    border: 7px solid rgb(0,0,0);
    border-radius: 9px;
}

#wedding_cakes {
  display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100%/3);
    margin: 11px;
    border: 7px solid rgb(0,0,0);
    border-radius: 9px;
}

#celebration_cake {
  display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100%/3);
    margin: 11px;
    border: 7px solid rgb(0,0,0);
    border-radius: 9px;
}

.option {
   font-size: 23px;
   text-align: center;
   padding: 7px;
 }

 .btn {
    padding: 13px;
    width: 97px;
  }

  .btn:hover {
   background-color: #7d5a5a;
   transition: background-color 2s;
  }

  li {
    text-align: left;
  }


footer {
  margin: auto;
  text-align: center;
}

@media (max-width: 1028px) {

#header {
  flex-wrap: wrap;
}
}
