* {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightblue;

}

header {
  position: fixed;
  background-color: white;
  padding: 0% 5%;
}

/* Nav Bar */
#header-img {
  height: 10%;
  width: 10%;
  padding-top: 1%
}

.nav-link {
  float: right;
  padding: 5% 5%;
  text-decoration: none;
  color: gold;
}

/* Email Submission */
form {
  padding: 11% 0 1% 0;
  text-align: center;
}

.email-title {
  padding-bottom: 1%
}

/* features */

#features {
  padding: 23px;
}

.list {
  display: flex;
  margin: auto;
  width: 50%;
  padding: 1%;
}

.icon, {
  display: flex;
  align-items: left;
  justify-content: left;
  margin: 41px 17px 0px 0px;
  padding: 13px;
}

.discription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: auto;
}

.feature-icons {
  height: 70%;
  width: 70%;
}

#how-it-works {
  display: flex;
  justify-content: center;
}

/* Pricing */

#pricing {
  display: flex;
  flex-direction: row;
  margin-top: 71px;
  justify-content: center;
  text-align: center;
}

.img-option {
    width: 250px;
    height: 170px;
    border: 3px solid black;
}

#tenor {
  display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100%/3);
    margin: 11px;
    border: 7px solid rgb(243,112,32);
    border-radius: 9px;
}

#bass {
  display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100%/3);
    margin: 11px;
    border: 7px solid rgb(243,112,32);
    border-radius: 9px;
}

#valve {
  display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100%/3);
    margin: 11px;
    border: 7px solid rgb(243,112,32);
    border-radius: 9px;
}

.option {
   font-size: 23px;
   text-align: center;
   padding: 7px;
 }

 .btn {
    padding: 13px;
    width: 97px;
  }

  .btn:hover {
   background-color: red;
   transition: background-color 2s;
  }

  li {
    text-align: left;
  }


footer {
  margin: auto;
  text-align: center;
}

@media (max-width: 1028px) {

#header {
  flex-wrap: wrap;
}
}
